{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}

<script type="x/template" id="vue-single-item">
    <div>
        <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
            <div class="single container page-content">
                <div class="row mt-5 position-relative">
                    <div class="col-xs-12">
                      <h1>${ currentVariation | itemName }</h1>
                    </div>

                    <div class="col-12 col-md-7 single-leftside">
                        <slot name="image-carousel"></slot>
                    </div>

                    <div class="col-12 col-md-5 single-rightside">
                        {% include "Nous42::Item.Components.SingleItem.SingleItem_Details" %}
                    </div>

                    <div class="col-12 ">
                        {% include "Nous42::Item.Components.SingleItem.SingleItem_Info" %}
                    </div>

                </div>

                <slot name="item-list-container"></slot>
                <slot name="feedback-container"></slot>
            </div>
        </slot>
    </div>
</script>
