{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set lang = services.sessionStorage.getLang() %}
{% set startseite = services.category.get(72, lang) %}
{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}


<slider></slider>

<div class="home container-max">
  <div class="intro page-content">
    {{ startseite.details.first.description | raw }}
  </div>
</div>
