{% import "Nous42::Category.Macros.CategoryTree" as Tree %}

{% set lang = services.sessionStorage.getLang() %}

<ul class="mainmenu">
  {% if lang == "de" %}
    <li><a href="/"><span class="fa fa-home"></span></a></li>
  {% else %}
  <li><a href="/en"><span class="fa fa-home"></span></a></li>
  {% endif %}
    {{ Tree.get_menu(categoryBreadcrumbs, categories, "", 0) }}
</ul>
