<!-- Insert markup for navigation here -->
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar{% if useMegaMenu %} megamenu{% endif %}">
    <div class="container">
        <div class="row">
              <button id="btnMainMenuToggler" class="navbar-toggler hidden-lg-up" type="button">
                  Menü <span>&#9776;</span>
              </button>

            <div id="mainNavbarCollapsable">
                {% include "Nous42::PageDesign.Partials.Header.NavigationList" %}
            </div>
            <div id="searchBox">
                <item-search template="#vue-item-search"></item-search>
            </div>
        </div>
    </div>
</nav>
